@using Microsoft.EntityFrameworkCore
@using Amazon.S3.Model
@model ProblemSets.Models.ProblemSet
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit";
}

<script>
tagsMeta = [];
var problemTags=[];
var array = @Html.Raw(Json.Serialize(@Model.ProblemTag));
for(var i = 0; i < array.length; i++) {
    problemTags[i] = array[i]; }  
    for(i=0; i < problemTags.length; i++) {
      tagsMeta.push({tag: problemTags[i]});
    }
answersMeta = [];
var problemAnswers=[];
array = @Html.Raw(Json.Serialize(@Model.ProblemAnswer));
for(var i = 0; i < array.length; i++) {
    problemAnswers[i] = array[i]; }  
    for(i=0; i < problemAnswers.length; i++) {
      answersMeta.push({tag: problemAnswers[i]});
    }
</script>

<script type="text/javascript">
(function($){
  $(function(){

	
	$('.chipsss').material_chip();
    
   
   
        
	$('.chips-placeholder').material_chip({
	  data: tagsMeta,
	  placeholder: '@Localizer["Enter a tag"]',
	  secondaryPlaceholder: '@Localizer["Enter a tag"]',
	  
	  
	});
	
	
    $('.chips-initial').material_chip({
       data: answersMeta,
       placeholder: '@Localizer["Enter Answer"]',
       secondaryPlaceholder: '@Localizer["Enter Answer"]',
       
      });

    
    
	$(".dropdown-trigger").dropdown();
    
    
      $('.chips-initial').on('chip.add', function(e, chip){
          alert(chip.tag)
          console.log(chip)
         
          pushAnswers(chip.tag)
          
        // you have the added chip here
      });
    
      $('.chips-initial').on('chip.delete', function(e, chip){
       alert("pek")
       console.log(chip)
        dropAnswers(chip.tag)
      });
      
       $('.chips-placeholder').on('chip.add', function(e, chip){
                
                 pushChips(chip.tag)
            });
            $('.chips-placeholder').on('chip.delete', function(e, chip){
             
             dropChips(chip.tag)
             
            });
    
      $('.chips').on('chip.select', function(e, chip){
        alert("end")
      });
      
      
      
   

  }); 
})(jQuery);
</script>

<script>
var tag= problemTags
var answers= problemAnswers
function pushChips(chip){
tag.push(chip)
console.log(tag)}

function dropChips(chip){
var pos=tag.indexOf(chip)
if (pos > -1) {
  tag.splice(pos, 1);
}
console.log(tag)}

function pushAnswers(chip){
answers.push(chip)
console.log(answers)}

function dropAnswers(chip){
var pos=answers.indexOf(chip)
if (pos > -1) {
  answers.splice(pos, 1);
}
console.log(answers)}

function getChips(){  
      document.getElementById('myField').value=tag;}  
function getAnswers(){
    document.getElementById('myAnswers').value=answers;}  

</script>

@*/////////////
/////////////*@

<link href="~/Dropzone/css/basic.css" rel="stylesheet" />
<link href="~/Dropzone/css/dropzone.css" rel="stylesheet" />
<script src="~/Dropzone/dropzone.min.js"></script>
<script type="text/javascript">
        Dropzone.options.myDropzone= {
            url: "/ProblemSet/Edit",
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            maxFilesize: 1,
            acceptedFiles: 'image/*',
            addRemoveLinks: true,
            init: function() {
                
                 
               
                
                dzClosure = this; // Makes sure that 'this' is understood inside the functions below.
                
                var jScriptArray=[];
                                 var array = @Html.Raw(Json.Serialize(@ViewBag.Picture));
                                 for(var i = 0; i < array.length; i++) {
                                     jScriptArray[i] = array[i];
                                 }       
                               
                document.getElementById("submit-all").addEventListener("click", function(e) {
                    // Make sure that the form isn't actually being sent.
                    e.preventDefault();
                    e.stopPropagation();
                   
                    if (dzClosure.getQueuedFiles().length > 0) { dzClosure.processQueue();}
                    else {tag.forEach(elem => {
                            var input = document.createElement("input");
                            input.setAttribute("type", "hidden");
                            input.setAttribute("name", "ProblemTag");
                            input.setAttribute("value", "value_you_want");
                            input.setAttribute("value", elem);
                            document.getElementById("FileUploadForm").appendChild(input);})
                           answers.forEach(elem => {
                             var input = document.createElement("input");
                             input.setAttribute("type", "hidden");
                             input.setAttribute("name", "ProblemAnswer");
                             input.setAttribute("value", "value_you_want");
                             input.setAttribute("value", elem);
                             document.getElementById("FileUploadForm").appendChild(input);})
                           this.form.submit()}
                });
        
                //send all the form data along with the files:
                this.on("sendingmultiple", function(data, xhr, formData) {
                    formData.append("Name", jQuery("#Name").val());
                    formData.append("Theme", jQuery("#Theme").val());
                    formData.append("ProblemQuestion", jQuery("#ProblemQuestion").val());
                    formData.append("Id", jQuery("#Id").val());
                    formData.append("AppUserId", jQuery("#AppUserId").val());
                    tag.forEach(elem => formData.append("ProblemTag", elem))
                    answers.forEach(elem => formData.append("ProblemAnswer", elem))
                    
                });  
                
               
            }
        }
        
      
       
</script>

<script>
function load() {    
setTimeout(() => { window.location.replace("/ProblemSet");  }, 1000);
} 
</script>


<h1>@Localizer["Edit"]</h1>

<h4>@Localizer["Problem"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Edit", "ProblemSet", FormMethod.Post, new { enctype = "multipart/form-data", id="FileUploadForm"}))  { 
            <input type="hidden" asp-for="Id" />        
            <div class="form-group">
                <label class="control-label">@Localizer["Name"]</label>
                <input asp-for="Name" class="form-control"/>
                <input type="hidden" asp-for="AppUserId"  value="@Model.AppUserId"/>
            </div><br>
            <div class="form-group">
                <label asp-for="Theme">@Localizer["Topic"] &#160</label>
                <select asp-for="Theme" asp-items="ViewBag.Topics"></select>
            </div><br>
            
            <label class="control-label">@Localizer["Tags"]</label>
            <div class="chips chips-placeholder">
                <div class="chip"><i class="close material-icons">close</i></div>
            </div><br>
            
            <div class="form-group">
                <label class="control-label">@Localizer["Question"]</label><br />
                    
                <textarea  asp-for="ProblemQuestion" cols="40"  class="materialize-textarea"></textarea>
            </div><br>
            
            <div class="form-group">
                <label class="control-label">@Localizer["Answer"]</label>
                <div class="chips chips-initial">
                    <div class="chip"><i class="close material-icons">close</i></div>
                </div>
            </div><br>
            
            
            @foreach (var item in ViewBag.Picture)
            {
                <div class="input-group mb-3">
                    <Img src="@item.PictureName">
                    <form asp-action="DeleteFiles">
                        <input type="hidden" asp-for="Id" />    
                        <input type="hidden" name="picture" value="@item.PictureId"/>
                        <input type="submit" value="Delete"  formaction="/ProblemSet/DeleteFiles" class="btn btn-danger"/>
                    </form>
                </div>
            }<br>
            
            <div class="dropzone" id="myDropzone"></div><br>

            <div class="form-group">
                <input type="hidden" id="myField" name="tags" value=""/>
                <input type="hidden" id="myAnswers" name="answers" value=""/>
                <input type="submit" id="submit-all" value="@Localizer["Save"]" class="btn btn-primary" onClick="load()"/>
            </div><br>
        }
    </div>
</div>
<div>
    <a asp-action="Index" asp-route-userId="@Model.AppUserId">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
.hiddendiv{
  display: none
}
</style>